body{
    background-image: url('Imagens/bg1.jpg');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center top 300px;
}
#bg1{
    height: 40%;
    background-image: url('Imagens/bg1.jpg');
    background-repeat: no-repeat;
    border: 2px dotted blue;
    position: fixed;
    left: 0;
    top: 0;
}