*{
    padding: 0;
    margin: 0;
}
.bg{
    height: 850px;
    background-image: url('Imagens/sun.jpg');
    background-size: 150px;
}
#s1{
    margin-bottom: 200px;
}
#p1{
    top: 20%;
}
.parag{
    text-align: left;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-style: solid;
    padding: 10px;
}
#s2{
    background-repeat: repeat-x;
}
#p2{
    top: 10%;
}
#s3{
    background-repeat: no-repeat;
    background-position: top center;
}
#s4{
    background-repeat: no-repeat;
    background-position: top right 100px;
}
#s5{
    background-repeat: repeat-y;
}
#s6{
    background-repeat: no-repeat;
    background-position: top right 180px;
}